<%- include('../header') %>

<h3 class="mt-4">Nova Categoria</h3>

<form class="mt-4" action="/categorias/nova" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Nome da Categoria</label>
    <input class="form-control" type="text" name="categoria" placeholder="Insira o nome da categoria">
  </div>
  <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</button>
  <a href="/categorias" class="btn btn-danger"><i class="fas fa-times"></i> Cancelar</a>
</form>

<%- include('../footer') %>