<%- include('../header') %>

<h3 class="mt-4">Editar Publicação</h3>

<form class="mt-4" action="/publicacoes/editar/<%= categoria %>/<%= publicacao.id %>" method="post">
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input class="form-control" type="text" id="titulo" name="titulo" value="<%= publicacao.titulo %>" placeholder="Insira o titulo">
  </div>
  <div class="form-group">
      <label for="conteudo">Conteúdo</label>
      <textarea class="form-control" type="text" id="conteudo" name="conteudo" placeholder="Insira o conteúdo da publicação"><%= publicacao.conteudo %></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Confirmar</button>
  <a href="/publicacoes/categoria/<%= categoria %>" class="btn btn-danger">Cancelar</a>
</form>

<%- include('../footer') %>